@font-face {
  font-family: 'Somar Sans';
  src: url('./somar-sans/SomarSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Somar Sans';
  src: url('./somar-sans/SomarSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Somar Sans';
  src: url('./somar-sans/SomarSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Somar Sans';
  src: url('./somar-sans/SomarSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

