@media only screen and (min-width: 575px) {
  /* hero  */
  .hero-text-container {
    gap: 2.5rem;
  }
  .hero-slogan {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .hero-text {
    font-size: 1.125rem;
    width: 80%;
  }

  /* businesses section */

  .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* get started banner content */

  .get-started-text-content {
    width: 60%;
  }

  .get-started-title {
    text-align: left;
    font-size: 2.75rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1.5rem; */
  }

  /* review banner section */

  .review-container {
    padding: 2rem 1.5rem 1.875rem;
    width: 60%;
    left: 1rem;
  }

  .review-text {
    padding-block: 1rem;
  }
  .reviewer-name,
  .review-text {
    font-size: 1.25rem;
  }

  .slick-dots {
    padding-top: 1rem;
  }

  /* contact us section */

  .contact-us-title {
    font-size: 2.5rem;
    line-height: 75px;
  }

  /* footer */

  .footer-text-social {
    text-align: left;
  }

  .footer-text {
    margin: 0;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-list {
    text-align: left;
  }

  .newsletter-text {
    text-align: left;
  }

  .newsletter-input {
    margin: 0 0 1.25rem;
  }

  .terms-and-conditions,
  .footer-bottom {
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
  }

  .fb-text {
    padding-bottom: 0;
  }

  /* filter section */

  .price-filter-menu.show {
    inset: 7px auto auto 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  /* common styles */
  .section-text {
    width: 80%;
  }

  /* hero  */
  .hero-text-container {
    gap: 2.75rem;
  }
  .hero-slogan {
    font-size: 2.875rem;
  }

  .hero-text {
    font-size: 1.125rem;
    width: 65%;
  }

  /* category section */
  .category-card-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }

  .category-card {
    height: 20rem;
    padding: 1.75rem;
  }

  .card-text {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }

  .card-text,
  .card-btn {
    display: none;
    opacity: 0;
  }

  /* businesses section */

  .businesses-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .businesses-img-container {
    width: 40%;
  }

  .businesses-text-container {
    width: 50%;
  }

  .count {
    margin: 0;
  }

  /* get started banner content */

  .get-started-banner-content {
    padding: 1.5rem;
  }

  .get-started-text-content {
    width: 60%;
  }

  .get-started-title {
    font-size: 3.375rem;
  }

  .detailed-option {
    gap: 0.75rem;
  }

  .intro-title {
    font-size: 1.375rem;
    line-height: 42px;
  }

  /* why choose us section */

  .wcu-cards-container {
    gap: 2.5rem;
  }

  /* review banner section */

  .review-container {
    padding: 2rem 1.625rem 1.875rem;
    width: 55%;
    left: 1.5rem;
  }

  /* contact us section */

  .footer-container {
    gap: 2rem;
  }

  .contact-us-title {
    font-size: 3rem;
  }

  .terms-and-conditions,
  .footer-bottom {
    gap: 2.5rem;
  }

  /* selection section */

  .selection-card-container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  /* common styles */
  .section-title {
    font-size: 2.5rem;
    line-height: 55px;
  }

  .section-text {
    font-size: 1.25rem;
  }

  /* navbar */

  .navbar-expand-lg .navbar-sm {
    display: none !important;
  }

  .navbar-show-content {
    padding: 0;
  }

  /* hero  */
  .hero-slogan {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.25rem;
    width: 50%;
  }

  /* category section */

  .category-card {
    height: 25.875rem;
    padding: 2.375rem;
  }

  .card-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  /* businesses section */
  .businesses-text-container {
    width: 45%;
  }

  /* get started banner content */

  .get-started-banner-content {
    padding: 2rem;
  }

  .get-started-text-content {
    width: 45%;
  }

  .get-started-title {
    padding-bottom: 2rem;
  }

  .get-started-title {
    font-size: 3.75rem;
  }

  .detailed-option {
    gap: 2rem;
    padding: 0.25rem 1.625rem 1.625rem;
  }

  .starting-btn {
    padding: 0.43755rem 1.125rem 0.4375rem 1.625rem;
    font-size: 1.625rem;
  }

  .intro-text {
    font-size: 1.125rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .wcu-card {
    background: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(to bottom, #e8e8e8, #e8e8e8) border-box;
    color: var(--primary);
  }

  .wcu-overlay {
    background: white;
  }

  .review-container {
    padding: 2.25rem 3.125rem 1.875rem 2.5rem;
    width: 55%;
    left: 5rem;
  }

  .review-text {
    padding: 1.25rem 0 2.125rem;
    color: var(--outer-space);
    font-weight: 500;
    font-family: var(--work-sans);
  }

  .slick-dots {
    padding-top: 1.25rem;
  }

  /* contact us section */

  .contact-us-title {
    font-size: 3.75rem;
  }

  /* footer */

  .footer-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-text-social {
    width: 40%;
  }

  .newsletter {
    width: 30%;
  }

  .menu-container {
    width: 15%;
  }
}
@media only screen and (min-width: 1199px) {
  /* hero  */
  .hero-slogan {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }

  .hero-text {
    font-size: 1.25rem;
    width: 44%;
  }

  /* category section */

  .category-card {
    height: 27.875rem;
  }

  /* businesses section */

  .get-started-title {
    width: 80%;
    padding-left: 1.75rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    gap: 3rem;
  }
}
@media only screen and (min-width: 1400px) {
  /* common styles */

  .container {
    max-width: 1200px;
    padding-inline: 0;
  }

  /* navbar */

  .navbar-brand {
    width: 225px;
  }

  .navbar-nav {
    gap: 1.5rem;
  }

  .search-bar {
    width: 245px;
  }

  /* hero  */

  .hero-text {
    width: 40%;
  }

  /* why choose us section */

  .wcu-card {
    padding-inline: 2.5rem;
  }

  /* footer */

  footer {
    background-color: #262626;
    padding: 3.5rem 0 4.8125rem;
    color: var(--white);
  }

  .footer-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-text-social {
    width: 45%;
  }

  .newsletter {
    width: 25%;
  }

  .menu-container {
    width: 10%;
  }
}
