:root {
  /* font family */
  --open-sans: "Open Sans";
  --red-hat: "Red Hat Text";
  --work-sans: "Work Sans";
  --somar-sans: "Somar Sans";

  /* colors */
  --primary: #272727;
  --white: #ffffff;
  --middle-blue: #72d9d4;
  --mulberry: #cc4faf;
  --outer-space: #48494b;
  --dark-gray: #a8a8a8;
  --light-silver: #d9d9d9;
  --silver-sand: #c5c5c5;
  --davys-gray: #535353;
  --orange-yellow: #f0b61e;
  --phillipine-gray: #8e8e8e;
}

/* common styles */
html {
  font-size: 16px;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  font-family: var(--red-hat);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
  min-height: 100vh;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
small {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.section {
  margin-block: 2rem;
}

.nav-link {
  font-family: var(--open-sans);
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary);
  line-height: 1.323125rem;
  padding-inline: 0;
}

.bz-btn {
  color: var(--white);
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  line-height: 1.375;
}

.bz-btn-primary {
  background-color: var(--primary);
  padding: 0.5rem 2rem;
  font-weight: 500;
}

.bz-btn-secondary {
  background-color: var(--mulberry);
  padding: 0.75rem 2.25rem;
  font-weight: 600;
  font-family: var(--open-sans);
}

.bz-secondary-btn-arrow {
  transition: all 0.3s;
}

.bz-btn-secondary:hover .bz-secondary-btn-arrow {
  transform: translateX(0.25rem);
}

.filter-btn {
  font-family: var(--work-sans);
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid var(--light-silver);
  border-radius: 0.5rem;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-blue {
  color: var(--middle-blue);
}

.blue-underline {
  text-decoration: underline;
}

.h-100 {
  height: 100%;
}

.section-title {
  font-family: var(--somar-sans);
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.375;
  width: 80%;
}

.section-text {
  font-family: var(--open-sans);
  font-size: 1rem;
  line-height: 1.4;
  max-width: 726px;
  margin: 0 auto;
}

.bz-text {
  font-size: 1rem;
  font-family: var(--open-sans);
}

/* ---------- custom styles ----------- */

/* navbar */

.navbar-container {
  padding-inline: 0;
}

.navbar-brand {
  transition: all 0.3s ease-out;
  width: 12.5rem;
  padding: 0;
}

.custom-toggler.navbar-toggler,
.custom-toggler.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar {
  padding-block: 0.78125rem;
  transition: all 0.3s ease-out;
  background: var(--white) !important;
  box-shadow: 0px 4px 4px 0px #00000012;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1111111;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar-show-content {
  background-color: var(--white);
  padding: 1rem;
}

.search-bar {
  width: 9.375rem;
  border-radius: 3.125rem;
  transition: all 0.3s ease-out;
}

.accordion .card-header::before {
  content: none;
}

.search-top {
  position: relative;
}

.search-bar {
  padding-left: 2.8125rem;
}

.search-bar::placeholder {
  font-family: var(--red-hat);
  color: var(--primary);
}

.search-icon {
  position: absolute;
  top: 50%;
  padding-left: 1rem;
  transform: translateY(-50%);
  display: flex;
}

/* hero styles */

.hero {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.82) 16.89%,
    rgba(1, 1, 1, 0.77) 25.33%,
    rgba(7, 7, 7, 0.51) 47.46%,
    rgba(25, 25, 25, 0.32) 56.96%,
    rgba(0, 0, 0, 0) 64.81%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--white);
  width: 100%;
  height: auto;
  margin-top: 71px;
  position: relative;
  overflow: hidden;
}

.hero-bg-video {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  aspect-ratio: 1/1;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  height: 100%;
  gap: 1.25rem;
  transition: all 0.3s ease-out;
  padding-top: 40px;
  padding-bottom: 50px;
}

.hero-slogan {
  font-family: var(--somar-sans);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.hero-text {
  font-family: var(--open-sans);
  width: 80%;
  line-height: 1.323;
}

/* category section */

.categories {
  margin-top: 3.125rem;
  margin-bottom: 4.9375rem;
}

.category-card-content {
  display: grid;
  gap: 1.625rem;
  padding-top: 1.1875rem;
}

.category-card {
  font-family: var(--open-sans);
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1.75rem;
  border-radius: 1.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.category-card-1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 51.79%,
      rgba(0, 0, 0, 0.629372) 74.78%,
      rgba(0, 0, 0, 0.8) 90.23%
    ),
    url(../assets/images/purple.png);
}

.category-card-1:hover {
  background-image: linear-gradient(
      180.83deg,
      rgba(0, 0, 0, 0) 0.68%,
      rgba(0, 0, 0, 0.629372) 53.89%,
      rgba(0, 0, 0, 0.8) 89.66%
    ),
    url(../assets/images/purple.png);
}

.category-card-2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 51.79%,
      rgba(0, 0, 0, 0.629372) 74.78%,
      rgba(0, 0, 0, 0.8) 90.23%
    ),
    url(../assets/images/collab.png);
}

.category-card-2:hover {
  background-image: linear-gradient(
      180.83deg,
      rgba(0, 0, 0, 0) 0.68%,
      rgba(0, 0, 0, 0.629372) 53.89%,
      rgba(0, 0, 0, 0.8) 89.66%
    ),
    url(../assets/images/collab.png);
}

.category-card-3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 51.79%,
      rgba(0, 0, 0, 0.629372) 74.78%,
      rgba(0, 0, 0, 0.8) 90.23%
    ),
    url(../assets/images/library.png);
}

.category-card-3:hover {
  background-image: linear-gradient(
      180.83deg,
      rgba(0, 0, 0, 0) 0.68%,
      rgba(0, 0, 0, 0.629372) 53.89%,
      rgba(0, 0, 0, 0.8) 89.66%
    ),
    url(../assets/images/library.png);
}

.card-text-container {
  color: var(--white);
  text-align: center;
  transition: all 0.5s ease-out;
}

.category-card:hover .card-text-container {
  margin-bottom: 0;
}

.category-card-title {
  font-family: var(--somar-sans);
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.3;
  text-transform: capitalize;
}

.card-text {
  width: 100%;
  max-width: 17.5rem;
  line-height: 1.3;
  padding-bottom: 0.9375rem;
  transition: all 0.3s;
}

.card-btn {
  color: var(--white);
  font-weight: 600;
  transition: all 0.3s;
}

.card-btn-arrow {
  transition: all 0.3s;
}

.card-btn:hover .card-btn-arrow {
  transform: translateX(0.25rem);
}

.card-btn-text {
  padding-right: 0.5rem;
}

.category-card:hover .card-text,
.category-card:hover .card-btn {
  opacity: 1;
}

/* businesses section */

.businesses {
  margin-top: 4.9375rem;
  margin-bottom: 4.5rem;
}

.businesses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.businesses-title {
  font-family: var(--somar-sans);
  width: 100%;
}

.counter-container {
  padding-top: 0.875rem;
  display: grid;
  justify-content: center;
  gap: 1.5rem;
}
.counter {
  width: 100%;
}

.count {
  font-family: var(--somar-sans);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.83;
  margin: 0 auto;
  width: fit-content;
  background: linear-gradient(90.44deg, #cc4faf 0.45%, #72d9d4 142.95%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.count-name {
  line-height: 1.44;
  font-family: var(--open-sans);
}

/* get started banner content */

.get-started-banner {
  margin-top: 4.5rem;
  margin-bottom: 3.125rem;
  font-family: var(--somar-sans);
}

.get-started-banner-content {
  background-image: url(../assets/images/get-started-banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-radius: 1.25rem;
  position: relative;
  color: var(--white);
}

.get-started-text-content {
  position: relative;
  z-index: 100;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem;
}

.get-started-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.28);
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 1.25rem;
}

.starting-option-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.starting-item.accordion-button::after {
  width: 0;
}

.detailed-option {
  background-color: var(--white);
  opacity: 0.9;
  color: var(--primary);
  padding: 0 1rem 1rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.get-started-title {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.25;
  padding-bottom: 1rem;
  line-height: 1.25;
}

.intro-text {
  font-size: 1rem;
  font-family: var(--open-sans);
  line-height: 1.44;
}

.starting-option {
  padding: 6px 18px 6px 16px;
  border-radius: 0.625rem;
}

.starting-accordion {
  display: grid;
  gap: 0.5rem;
  background-color: transparent;
}

.starting-accordion,
.starting-item.accordion-item {
  border-radius: 0.625rem !important;
  border: none;
  background: transparent;
}

.starting-item.accordion-item:not(.collapsed) {
  background-color: var(--white);
}

.starting-item.accordion-item:has(.collapsed) {
  background-color: transparent;
}

.start-accordion-arrow {
  display: none;
}

.collapsed .start-accordion-arrow {
  display: block;
}

.starting-btn.collapsed {
  background: #00000054;
  color: var(--white);
}

.starting-btn:not(.collapsed) {
  background: var(--white);
}

.starting-btn {
  background: transparent;
  padding: 6px 18px 6px 16px;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  width: 100%;
  font-family: var(--somar-sans);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.65;
  border: 0;
}

/* why choose us section */

.why-choose-us {
  margin-top: 3.125rem;
  margin-bottom: 5.7375rem;
}

.wcu-cards-container {
  padding-top: 1.875rem;
  display: grid;
  gap: 1.5rem;
}

.wcu-card,
.wcu-card-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wcu-card {
  height: 220px;
  background: linear-gradient(#272727 0 0) padding-box,
    linear-gradient(to bottom, #9c20aa, #fb3570) border-box;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  position: relative;
  padding: 1.9375rem;
  z-index: 0;
  color: var(--white);
  font-weight: 500;
  line-height: 1.625rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.wcu-overlay {
  background-image: url(../assets/images/wcu-overlay-img.svg);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.wcu-pink-ellipse {
  background: rgb(101, 42, 124);
  background: radial-gradient(
    circle,
    rgba(101, 42, 124, 0.56) 1%,
    rgba(39, 39, 39, 1) 100%
  );
  filter: blur(40px);
  width: 200px;
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  border-radius: 100%;
  transition: all 0.3s ease-out;
}

.wcu-blue-ellipse {
  background: rgb(114, 217, 212);
  background: radial-gradient(
    circle,
    rgba(114, 217, 212, 0.23) 1%,
    rgba(39, 39, 39, 1) 100%
  );
  filter: blur(40px);
  width: 200px;
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  left: 0;
  top: -0.5rem;
  transition: all 0.3s ease-out;
}

.wcu-card:hover {
  background: linear-gradient(#272727 0 0) padding-box,
    linear-gradient(to bottom, #9c20aa, #fb3570) border-box;
}

.wcu-card-text {
  line-height: 1.4;
  font-size: 1.125rem;
}

.wcu-card-content {
  position: relative;
  z-index: 100;
  gap: 1.9375rem;
  text-align: center;
  transition: all 0.3s;
}

/* review banner section */

.review-banner {
  position: relative;
  height: auto;
  width: 100%;
}

.review-overlay {
  background: #f0f7f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50%;
}

.review-banner-container {
  background-image: url(../assets/images/review-banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 300%;
  color: var(--white);
  width: 100%;
  height: auto;
  max-height: 534px;
  aspect-ratio: 1/1;
  border-radius: 1.25rem;
  position: relative;
  z-index: 1000;
}

.review-container {
  background-color: var(--white);
  opacity: 0.9;
  padding: 1rem;
  width: 90%;
  max-width: 421px;
  position: relative;
  top: 0;
  left: 1rem;
  bottom: 1rem;
  border-radius: 0 0 1.25rem 1.25rem;
  z-index: 1000;
}
.slick-dotted.slick-slider {
  margin: 0;
}

.review-card {
  color: var(--primary);
}

.review-card .section-title {
  width: 100%;
  font-size: 1.75rem;
}

.review-banner-title {
  line-height: 1.375;
}

.review-text {
  padding-block: 0.5rem;
  color: var(--outer-space);
  font-weight: 500;
  font-family: var(--open-sans);
  font-size: 0.9375rem;
  line-height: 1.44;
}

.ratings {
  display: flex;
}

.reviewer-name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
}

.slick-dots {
  position: static;
}

.slick-dots li {
  height: 11px;
  width: 11px;
  border: 1px solid #bfbfbf;
  border-radius: 5rem;
}

.slick-dots li button {
  height: 11px;
  width: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1px;
}

li.slick-active {
  background-color: var(--mulberry);
  border-radius: 5rem;
  border: 1px solid var(--mulberry);
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: transparent;
}

/* contact us section */

.contact-us {
  background-color: #f0f7f8;
  padding-block: 3.6875rem;
}

.contact-us-title {
  font-family: var(--somar-sans);
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.25;
  padding-bottom: 1.1875rem;
}

.contact-us .contact-btn {
  gap: 0.875rem;
}

/* footer */

footer {
  position: relative;
  overflow: hidden;
  background: #262626;
  z-index: 0;
  padding-block: 2.5rem;
}

.footer-bg-prop {
  background: url(../assets/images/footer-bg-prop.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  bottom: 0;
  z-index: -1;
}

.footer-blue-ellipse {
  background: rgb(114, 217, 212);
  background: radial-gradient(
    circle,
    rgba(114, 217, 212, 0.23) 1%,
    rgba(38, 38, 38, 1) 100%
  );
  filter: blur(80px);
  width: 343px;
  height: 343px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 91px;
  left: 20%;
}

.footer-pink-ellipse {
  background: rgb(101, 42, 124);
  background: radial-gradient(
    circle,
    rgba(101, 42, 124, 0.56) 1%,
    rgba(38, 38, 38, 1) 100%
  );
  filter: blur(80px);
  width: 343px;
  height: 343px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 100%;
  left: 28%;
  top: 206px;
}

.footer-container {
  color: var(--white);
}

.footer-logo {
  padding-bottom: 1.25rem;
}
.footer-container {
  display: grid;
  gap: 1.875rem;
}

.footer-text-social {
  text-align: center;
}

.footer-text {
  color: #c5c5c5;
  padding-bottom: 1.875rem;
  width: 100%;
  max-width: 302px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5;
}

.social-icon-container {
  gap: 2.5rem;
}

.social-icon svg {
  fill: white;
  transition: fill 0.3s;
}
.social-icon:hover svg {
  fill: var(--mulberry);
}

.menu-list {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.menu-list li a,
.newsletter-text {
  color: var(--white);
  font-weight: 500;
  line-height: 1.3;
  transition: color 0.3s;
}

.menu-list li a:hover {
  color: var(--mulberry);
}

.newsletter-text {
  padding-bottom: 1.0625rem;
  text-align: center;
  line-height: 1.3;
}

.newsletter-input {
  display: block;
  width: 100%;
  max-width: 301px;
  margin: 0 auto 1.25rem;
  padding: 0.5rem 0.875rem;
  background-color: rgba(255, 255, 255, 0.28);
  border: none;
  border-radius: 5px;
  outline: 0;
  color: var(--light-silver);
}

.newsletter-input::placeholder {
  color: var(--light-silver);
  line-height: 1.625;
}

.newsletter .bz-btn-secondary {
  padding: 0.5625rem 1.6875rem 0.5625rem 1.25rem;
}

.footer-bottom {
  margin-top: 5.625rem;
  text-align: center;
}

.terms-and-conditions,
.footer-bottom {
  display: flex;
  flex-direction: column;
}

.fb-text {
  padding-bottom: 1rem;
  color: var(--dark-gray);
  line-height: 1.25;
  transition: color 0.3s;
}

.fb-text:hover {
  color: var(--white);
}

/* selection section */

.selection-page {
  background: #f0f7f8;
}

.selection {
  margin-top: 109px;
}

.selection-card-container,
.select-card,
.card__content {
  display: flex;
  flex-direction: column;
}

.selection-card-container {
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-block: 2rem;
  padding: 0;
}

/* Card Styles */

.select-card {
  background: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  justify-content: right;
  padding: 0.8125rem;
  position: relative;
  transition: all 0.2s;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 327px;
  height: 385px;
  margin: 0;
  color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--somar-sans);
}

.select-card-1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.74) 52.5%
    ),
    url(../assets/images/talent.png);
}

.select-card-2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.74) 52.5%
    ),
    url(../assets/images/businesses.png);
}

.card__image {
  border-radius: 0.25em;
  height: 6em;
  min-width: 6em;
}

.card__content {
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.75rem;
}

/* Checkbox Styles */

.select-card:has(.checkbox:checked) {
  border: 5px solid #72d9d4;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  height: 28px;
  outline: none;
  position: absolute;
  right: 13px;
  transition: all 0.2s;
  width: 28px;
  border: 2px solid var(--dark-gray);

  &:after {
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 1em;
    left: 0.5em;
    opacity: 0;
    position: absolute;
    top: 0.17em;
    transform: rotate(45deg);
    width: 0.5em;
  }

  &:checked {
    background: #72d9d4;
    border: 2px solid transparent;
  }

  &:checked::after {
    opacity: 1;
  }
}

.checkbox-control__target {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 10;
}

/* purple hero section */

.purple-hero {
  text-align: center;
  background-image: linear-gradient(98.55deg, #72d9d4 -15.76%, #cc4faf 121.95%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 4.4375rem;
}

.purple-hero-content {
  padding-block: 4.375rem;
  position: relative;
}

.purple-hero-banner-overlay {
  background-image: url(../assets/images/purple-hero-bg.png);
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero-search-container {
  position: relative;
  z-index: 100;
}

.purple-hero-text {
  color: var(--white);
  font-weight: 600;
  font-family: var(--somar-sans);
  line-height: 2.5rem;
  margin-bottom: 0.75rem;
}

.purple-hero-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.purple-input {
  border: 1px solid;
  border-radius: 5rem;
  border-image-source: linear-gradient(
    90.91deg,
    #72d9d4 -15.6%,
    #cc4faf 110.1%
  );
  padding: 17px 60px 17px 36px;
  outline: 0;
  width: 100%;
}

.purple-hero-search-btn {
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  padding: 1.375rem 1.5rem;
  border-radius: 0 5rem 5rem 0;
  top: 50%;
  transform: translateY(-50%);
}

/* filter section */

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

/* all filters */

.offcanvas.offcanvas-start {
  top: 71px;
  bottom: 0;
  width: 100%;
  max-width: 375px;
}

.all-filter-btn {
  gap: 13px;
  padding: 0.625rem 1.125rem 0.625rem 1.125rem;
}

.filter-btn-close {
  margin-left: auto;
  cursor: pointer;
}

.all-filter-header {
  padding: 1rem 2.25rem 0.75rem 1.875rem;
  border-bottom: 1px solid #d9d9d9;
}

.all-filter-offcanvas-title {
  font-family: var(--somar-sans);
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.all-filter-offcanvas-body {
  padding: 28px 42px 2.25rem 1.875rem;
}

.all-filter-accordion-item {
  border: none;
  outline: 0;
}
.all-filter-accordion-btn:focus {
  box-shadow: none;
}

.all-filter-accordion-btn {
  font-family: var(--open-sans);
  font-weight: 500;
  color: var(--primary) !important;
}

.all-filter-accordion-btn::after {
  background-image: url(../assets/icons/arrow-down.svg);
  width: 0.75rem;
  height: 0.75rem;
  background-size: 0.75rem;
}

.all-filter-accordion-btn,
.all-filter-accordion-body {
  padding-inline: 0;
  border: none;
  outline: 0;
}

.all-filter-accordion-btn:not(.collapsed) {
  background: var(--white);
  box-shadow: none;
}

.all-filter-accordion-btn:not(.collapsed)::after {
  background-image: url(../assets/icons/arrow-down.svg);
}

.filter-item-container {
  display: block;
  position: relative;
  padding-left: 34px;
  margin-bottom: 0.625rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--open-sans);
  font-size: 0.875rem;
  line-height: 1rem;
}
.filter-item-container .filter-item-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-item-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.875rem;
  width: 0.875rem;
  background-color: var(--white);
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

.filter-item-container .filter-item-input:checked ~ .filter-item-checkmark {
  background-color: var(--mulberry);
  border: none;
}

.filter-item-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-item-container
  .filter-item-input:checked
  ~ .filter-item-checkmark:after {
  display: block;
}

.filter-item-container .filter-item-checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.all-filter-offcanvas-btn {
  width: 100%;
  font-family: var(--work-sans);
}

/* price filter  */

.category-filter-btn,
.price-filter-btn {
  transition: all 0.3s;
  padding: 0.625rem 1rem 0.625rem 1rem;
}

.price-filter-btn {
  gap: 2.25rem;
}

.price-filter-btn.show,
.category-filter-btn.show {
  border: 1px solid #72d9d4;
  background: #f0fffe;
}
.price-filter-menu {
  padding: 1rem;
}

.price-filter-menu,
.category-filter-menu {
  box-shadow: 0px 4px 10px 0px #00000026;
  width: 217px;
}

/* price filter radio button */

.radio-item [type="radio"] {
  display: none;
}
.radio-item + .radio-item {
  margin-top: 15px;
}
.radio-item label {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--work-sans);
  font-size: 14px;
  font-weight: 400;
  min-width: 183px;
  white-space: nowrap;
  position: relative;
  transition: 0.4s ease-in-out 0s;
  line-height: 1;
  color: var(--davys-gray);
}
.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.radio-item label:after {
  height: 12px;
  width: 12px;
  border: 1px solid var(--davys-gray);
  left: 0px;
  top: calc(50% - 6px);
}
.radio-item label:before {
  background: #72d9d4;
  height: 7px;
  width: 7px;
  left: 2.5px;
  top: 13.8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
  border-color: #524eee;
}
.radio-item [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.category-filter-menu hr,
.price-filter-menu hr {
  border-top: 1px solid #f1f1f1;
}

.price-limit {
  font-weight: 500;
  color: var(--primary);
}

.clear-all-btn,
.apply-price-btn {
  font-size: 0.875rem;
}

.clear-all-btn {
  color: var(--phillipine-gray);
  border: none;
  background: transparent;
}

.apply-price-btn {
  color: var(--mulberry);
}

/* category filter */

.category-filter-menu {
  background: #f6f6f6;
  filter: drop-shadow(#00000015 0px 4px 10px);
  min-width: 250px;
  padding: 0;
  font-family: var(--work-sans);
  border: 1px solid var(--light-silver);
}

.category-list {
  border-radius: 0 0 0.5rem 0.5rem;
  overflow-y: scroll;
  min-width: 248px;
  width: fit-content;
  height: 300px;
}

.category-item {
  cursor: pointer;
  line-height: 1.25;
  transition: all 0.3s;
}

.category-item-content {
  font-size: 0.875rem;
  padding: 9px 23px 9px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--davys-gray);
  transition: color 0.3s ease-out;
}

.cateogory-item:has(.collapse.show) .category-item-content,
.cateogory-item:hover .category-item-content {
  background: var(--white);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--primary);
}
.cateogory-item:has(.collapse.show) .category-item-arrow,
.cateogory-item:hover .category-item-arrow {
  opacity: 1;
  visibility: visible;
}

.category-item-arrow {
  transform: rotate(90deg);
}

.sub-category-item-list {
  background: var(--white);
  border-radius: 0.375rem;
}

.sub-category-item {
  padding: 7px 23px 7px 27px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25;
  transition: all 0.3s;
}

.category-list::-webkit-scrollbar {
  width: 0.25rem;
}

.category-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.category-list::-webkit-scrollbar-thumb {
  background-color: var(--middle-blue);
}

.category-filter-btn {
  gap: 1.125rem;
}

.cateogory-item .filter-item-container {
  padding-left: 21px;
}

/* filtered results counter */

.filtered-result-container {
  gap: 1.875rem;
}

.back-btn {
  padding-top: 0.25rem;
}

.business-title {
  font-family: var(--somar-sans);
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.375;
}

.filtered-result-count {
  font-family: var(--open-sans);
  font-size: 0.875rem;
  line-height: 1.17;
}

.searched-category {
  font-weight: 600;
}

/* business cards section */

.business-cards {
  margin-top: 2.0625rem;
  margin-bottom: 2.9375rem;
}

.business-card-container {
  display: grid;
  gap: 1.5rem;
}

.business-card {
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 10px 0px #00000014;
  font-family: var(--work-sans);
}

.business-card-img {
  width: 100%;
}

.business-card-info-container {
  padding: 7px 26px 22px 13px;
  font-family: var(--open-sans);
}

.business-card-ratings {
  font-family: var(--work-sans);
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1.3;
}

.business-card-title {
  line-height: 1.15;
  padding: 7px 0 4px;
}

.business-card-text {
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--davys-gray);
}

.business-card-badge {
  display: inline-flex;
  font-size: 0.75rem;
  color: var(--outer-space);
  padding: 0.25rem 1rem 0.25rem;
  background: #f1f8f9;
  border-radius: 25px;
  margin-block: 9px;
  line-height: 1.3;
}

.business-card-features-list {
  font-size: 0.75rem;
  list-style: disc;
  margin-left: 1.75rem;
  color: var(--davys-gray);
  margin-bottom: 11px;
}

.business-card-feature-item {
  line-height: 1.43;
  font-size: 0.87rem;
}

/* pagination section */

.pagination-list,
.pagination-prev-btn,
.pagination-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-list {
  gap: 33px;
  font-family: var(--work-sans);
  line-height: 1.125;
}

.pagination-item a {
  color: var(--davys-gray);
}

.pagination-prev-btn,
.pagination-next-btn {
  height: 34px;
  width: 34px;
  border: 1px solid var(--light-silver);
  border-radius: 5rem;
}

.pagination-item .active {
  color: var(--primary);
  font-weight: 600;
  text-decoration: underline;
}

/* category cards  */

.cateogory-cards {
  margin-top: 1.4375rem;
  margin-bottom: 4.375rem;
}

.category-cards-container {
  display: grid;
  gap: 1.5625rem;
}

.category-list-card {
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.category-card-overlay {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  padding: 1.125rem 1.25rem 6.625rem 1.125rem;
  color: var(--white);
  border-radius: 5px;
  background: linear-gradient(135.52deg, #462a40 -4.26%, #112625 125.66%),
    linear-gradient(140.76deg, #cc4faf -0.45%, #72d9d4 101.48%) border-box;
  border: 1px solid transparent;
  transition: all 0.4s;
  opacity: 0;
}

.category-list-card:hover .category-card-overlay {
  top: 0;
  opacity: 1;
}

.category-card-overlay-title {
  font-family: var(--somar-sans);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2.2;
}

.category-list-card .category-card-overlay-text {
  font-family: var(--open-sans);
  line-height: 1.5;
  padding-top: 0.625rem;
}

.category-card-img {
  width: 100%;
}

.category-card-text-container {
  padding: 0.25rem 0 1.375rem;
}

.category-list-card-title {
  font-family: var(--somar-sans);
  line-height: 2.5;
  font-weight: 600;
}

.category-card-badge-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.375rem;
  margin-top: -0.125rem;
}

.category-card-badge-item {
  background: #f1f8f9;
  border-radius: 5rem;
  margin-bottom: 0.375rem;
  transition: all 0.3s ease-out;
}

.category-card-badge-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.25rem 1.4375rem;
  color: #484848;
  transition: color 0.3s;
  font-family: var(--open-sans);
  font-size: 0.875rem;
}

.category-badge-arrow {
  transform: rotate(270deg);
  opacity: 0;
  display: none;
  transition: all 0.3s;
}

.category-card-badge-item:hover {
  background: linear-gradient(90.32deg, #cc4faf -23.16%, #72d9d4 115.72%);
}

.category-card-badge-item:hover a {
  color: var(--white);
}

.category-card-badge-item:hover .category-badge-arrow {
  opacity: 1;
  display: block;
}
