@media only screen and (min-width: 575px) {
  /* navbar  */

  .navbar {
    padding-block: 0.8rem;
  }

  /* hero  */
  .hero-text-container {
    gap: 2.5rem;
  }
  .hero-slogan {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1.125rem;
    width: 80%;
  }

  /* businesses section */

  .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* get started banner content */

  .get-started-text-content {
    width: 60%;
  }

  .get-started-title {
    text-align: left;
    font-size: 2.75rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* review banner section */

  .review-container {
    padding: 2rem 1.5rem 1.875rem;
    width: 60%;
    left: 1rem;
  }

  .review-text {
    padding-block: 1rem;
  }
  .reviewer-name,
  .review-text {
    font-size: 1.125rem;
  }

  .slick-dots {
    padding-top: 1rem;
  }

  /* contact us section */

  .contact-us-title {
    font-size: 2.5rem;
  }

  /* footer */

  .footer-text-social {
    text-align: left;
  }

  .footer-text {
    margin: 0;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-list {
    text-align: left;
  }

  .newsletter-text {
    text-align: left;
  }

  .newsletter-input {
    margin: 0 0 1.25rem;
  }

  .terms-and-conditions,
  .footer-bottom {
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
  }

  .fb-text {
    padding-bottom: 0;
  }

  /* filter section */

  .price-filter-menu,
  .category-filter-menu {
    inset: 7px auto auto 0 !important;
  }

  .business-title {
    font-family: var(--somar-sans);
    font-weight: 600;
    font-size: 1.875rem;
  }

  /* business cards */

  .business-card-container,
  .category-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  /* common styles */
  .section-text {
    width: 80%;
  }

  /* hero  */

  .hero-bg-video {
    inset: 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    aspect-ratio: 16/9;
  }

  .hero-text-container {
    gap: 2.75rem;
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .hero-slogan {
    font-size: 2.875rem;
  }

  .hero-text {
    font-size: 1.125rem;
    width: 65%;
  }

  /* category section */
  .category-card-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.625rem;
  }

  .category-card {
    padding: 1.75rem;
  }

  .card-text-container {
    margin-bottom: -4rem;
  }

  .card-text {
    font-size: 0.9375rem;
  }

  .card-text,
  .card-btn {
    opacity: 0;
    transition: all 0.3s ease;
  }

  /* businesses section */

  .businesses-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .businesses-img-container {
    width: 39.43%;
  }

  .businesses-text-container {
    width: 50%;
  }

  .count {
    margin: 0;
    font-size: 1.5rem;
  }

  /* get started banner content */

  .get-started-text-content {
    padding: 1.5rem;
    width: 60%;
  }

  .get-started-title {
    font-size: 3.375rem;
  }

  .detailed-option {
    gap: 0.75rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    gap: 2.5rem;
  }

  /* review banner section */

  .review-container {
    padding: 2rem 1.625rem 1.875rem;
    width: 55%;
    left: 1.5rem;
  }

  /* contact us section */

  .footer-container {
    gap: 2rem;
  }

  .contact-us-title {
    font-size: 3rem;
  }

  .terms-and-conditions,
  .footer-bottom {
    gap: 2.5rem;
  }

  /* selection section */

  .selection-card-container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  /* common styles */
  .section-title {
    font-size: 2.5rem;
  }

  .section-text {
    font-size: 1.25rem;
  }

  /* navbar */

  .navbar-expand-lg .navbar-sm {
    display: none !important;
  }

  .navbar-show-content {
    padding: 0;
  }

  /* hero  */

  .hero-text-container {
    padding-top: 100px;
    padding-bottom: 104px;
  }

  .hero-slogan {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.25rem;
    width: 50%;
  }

  /* category section */

  .category-card {
    height: 25.875rem;
    padding: 2.375rem;
  }

  .card-text {
    font-size: 1.125rem;
  }

  /* businesses section */

  .businesses-text-container {
    width: 46.1%;
  }

  .count {
    margin: 0;
    font-size: 1.875rem;
  }

  .count-name {
    font-size: 1.125rem;
  }

  /* get started banner content */

  .get-started-text-content {
    width: 44.55%;
    padding: 2rem;
    min-height: 616px;
  }

  .get-started-title {
    padding-bottom: 1.9375rem;
  }

  .get-started-title {
    font-size: 3.75rem;
  }

  .detailed-option {
    gap: 2rem;
    padding: 0.25rem 1.625rem 1.5625rem;
  }

  .starting-btn {
    padding: 0.43755rem 1.125rem 0.4375rem 1.625rem;
    /* padding: 0.75rem 1.6875rem 0.4375rem 1.6875rem; */
    font-size: 1.625rem;
  }

  .intro-text {
    font-size: 1.125rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .wcu-card {
    color: var(--primary);
  }

  .wcu-overlay {
    opacity: 0;
    visibility: hidden;
  }

  .wcu-card:hover .wcu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .wcu-card:hover .wcu-card-content {
    color: var(--white);
  }

  /* review banner section */

  .review-container {
    padding: 2.3125rem 2.4375rem 1.875rem 2.5rem;
    width: 55%;
    left: 5rem;
  }

  .review-banner .review-banner-title {
    font-size: 2.5rem;
  }

  .review-text {
    padding: 1.1875rem 0 1.6875rem;
  }

  .slick-dots {
    padding-top: 1.9375rem;
  }

  /* contact us section */

  .contact-us-title {
    font-size: 3.75rem;
  }

  /* footer */

  .footer-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-text-social {
    width: 40%;
  }

  .newsletter {
    width: 30%;
  }

  .menu-container {
    width: 15%;
  }

  /* business cards */

  .business-card-container,
  .category-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* category filter */
  .category-item-arrow {
    transform: rotate(0deg);
  }

  .category-list {
    height: 392px;
  }

  .sub-category-item-list {
    position: absolute;
    left: 0;
    top: -1px;
    margin-left: 248px;
    height: 393px;
    width: 250px;
    border: 1px solid var(--light-silver);
    border-radius: 0 0.5rem 0.5rem 0;
    filter: drop-shadow(#00000015 0px 4px 10px);
    padding-block: 0.635rem;
  }
}
@media only screen and (min-width: 1199px) {
  /* hero  */
  .hero-slogan {
    font-size: 3.125rem;
  }

  .hero-text {
    font-size: 1.25rem;
    width: 44%;
  }

  /* category section */

  .category-card {
    height: 27.875rem;
  }

  /* businesses section */

  .get-started-title {
    width: 80%;
    padding-left: 1.75rem;
  }

  /* why choose us section */

  .wcu-cards-container {
    gap: 3rem;
  }
}
@media only screen and (min-width: 1369px) {
  /* common styles */
  .navbar {
    padding-block: 0.65rem;
  }

  .container {
    max-width: 75rem;
    padding-inline: 0;
  }

  /* navbar */

  .navbar-brand {
    width: 14.0625rem;
    height: 3.165rem;
  }

  .navbar-brand img {
    height: 100%;
  }

  .navbar-nav {
    gap: 1.5rem;
  }

  .search-bar {
    width: 245px;
  }

  /* hero  */

  .hero-text-container {
    padding-top: 122px;
    padding-bottom: 200px;
  }

  .hero-text {
    width: 40%;
  }

  /* businessed section */

  .counter-container {
    justify-content: space-between;
    row-gap: 1.5rem;
    column-gap: 6rem;
  }

  /* why choose us section */

  .wcu-card {
    padding-inline: 2.5rem;
  }

  /* footer */

  .footer-container {
    background-color: #262626;
    padding: 3.5rem 0 4.8125rem;
    color: var(--white);
  }

  .footer-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-text-social {
    width: 45%;
  }

  .newsletter {
    width: 25%;
  }

  .menu-container {
    width: 10%;
  }
}
