:root {
  /* fonts  */
  --open-sans: "Open Sans", sans-serif;
  --red-hat: "Red Hat Text", sans-serif;
  --work-sans: "Work Sans", sans-serif;

  /* colors */
  --primary: #272727;
  --white: #ffffff;
  --middle-blue: #72d9d4;
  --mulberry: #cc4faf;
  --outer-space: #48494b;
  --dark-gray: #a8a8a8;
  --light-silver: #d9d9d9;
  --silver-sand: #c5c5c5;
  --davys-gray: #535353;
  --orange-yellow: #f0b61e;
}

/* common styles */
.body {
  font-family: var(--red-hat);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary);
}

.nav-link {
  font-family: var(--red-hat);
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary);
  line-height: 1.323125rem;
  padding-inline: 0;
}

.bz-btn-primary {
  color: var(--white);
  background-color: var(--primary);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  text-decoration: none;
}

.text-blue {
  color: var(--middle-blue);
}

.blue-underline {
  text-decoration: underline;
}

.h-100 {
  height: 100%;
}

/* ---------- custom styles ----------- */

/* navbar */

.navbar-container {
  padding-inline: 0;
}

.navbar-brand {
  transition: all 0.3s ease-out;
  width: 12.5rem;
}

.custom-toggler.navbar-toggler,
.custom-toggler.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar {
  max-height: 4.4275rem;
  transition: all 0.3s ease-out;
}

.search-bar {
  width: 9.375rem;
  border-radius: 3.125rem;
  transition: all 0.3s ease-out;
}

.search-top {
  position: relative;
}

.search-bar {
  padding-left: 2.8125rem;
}

.search-bar::placeholder {
  font-family: var(--red-hat);
  color: var(--primary);
}

.search-icon {
  position: absolute;
  top: 50%;
  padding-left: 1rem;
  transform: translateY(-50%);
  display: flex;
}

/* hero styles */

.hero {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.82) 16.89%,
      rgba(1, 1, 1, 0.77) 25.33%,
      rgba(7, 7, 7, 0.51) 47.46%,
      rgba(25, 25, 25, 0.32) 56.96%,
      rgba(0, 0, 0, 0) 64.81%
    ),
    url(../assets/images/Homepage-banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--white);
  width: 100%;
  height: auto;
  max-height: 628px;
  aspect-ratio: 1/1;
}

.hero-slogan {
  /* font-size: 2em; */
  font-weight: 600;
  line-height: 2.5rem;
}
